@keyframes ani{
   from {background-color: rgb(201, 223, 220);}
   to {background-color:rgb(179, 245, 240);}
}
body, h3{
   margin: 0;
}
body {
   background-color: black;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

header {
   background-color: rgba(133, 196, 255, 0.959);
   padding: 20px;
   letter-spacing: 5px;
   text-transform: capitalize;
   display : flex;
   align-items: center;
   justify-content: space-around;
   font-family: 'Poppins' ,sans-serif ,'font-effect-emboss' ;
   text-shadow: 4px 4px 4px #aaa;
}

h3,h4,h6{
   color:  greenyellow;
   display: inline;
   text-transform: capitalize;
   text-decoration: none;
}
h1,h2{
   color:rgb(82, 252, 82);
   text-align: center;
   text-transform: capitalize;
   text-shadow: 2em;
}
#nav_bar{
   justify-content: space-around;
   display: flex;
   width: 35%;
}
#nav_bar a{
   color:   rgba(133, 196, 255, 0.959);
   text-decoration: none;
   letter-spacing: 0px;
   font-weight: bold;
   text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
p{
   text-decoration: none;
   text-align: center;
   display: ruby-base;
   color:rgb(82, 252, 82);
}
/*h3{
   animation-name: ani;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   position: relative;
   animation-timing-function: linear;
}*/
div.GameGallery{
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   display: inline;
}
div.GameGallery:hover{
   box-shadow: 0 0 2px 1px rgb(255, 255, 255);
}
div.gallery img {
   width: 25%;
   height: 25%;
 }
div.desc {
   padding: 15px;
   /*text-align: center;*/
}
.Names {
   text-align: center;
   text-shadow: #aaa;
   text-size-adjust: 150px;
}